%% mod_push test configuration
%% replace chatninja.org with your hostname or localhost

{escalus_server, <<"chatninja.org">>}.

{ejabberd_node, 'ejabberd@chatninja.org'}.
{ejabberd_cookie, 'RJQSIJPGAGDBWVLOYDKU'}.

{ejabberd_string_format, bin}.

%% if escalus_user_db is set to the ejabberd module, users are registered with
%% rpc to ejabberd_admin:register, otherwise in-band registration is used (did
%% not work for me)
{escalus_user_db, {module, escalus_ejabberd, []}}.

%% the app server's active push backends that we want to test
{push_backends, [apns, gcm, mozilla, ubuntu, wns]}.

{escalus_users, [{alice,
                  [{username, <<"alice">>},
                   {server, <<"chatninja.org">>},
                   {password, <<"top-secret">>},
                   {stream_management, true},
                   {device_name, <<"Home">>},
                   {app_name, <<"any">>},
                   %% APNS
                   {apns_token, <<"dG9wX3NlY3JldAo=">>},
                   %% GCM
                   {gcm_token, <<"dG9wX3NlY3JldAo=">>},
                   %% Mozilla
                   {mozilla_token, <<"dG9wX3NlY3JldAo=">>},
                   %% Ubuntu
                   {ubuntu_token, <<"dG9wX3NlY3JldAo=">>},
                   {application_id, <<"com.ubuntu.developer.culrich.pushreceiver_pushreceiver_0.1">>},
                   %% WNS
                   {wns_token, <<"https://db3.notify.windows.com/?token=abcdef">>}
                  ]}
               ]}.
